<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hello Shopify</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="noindex, nofollow">
  <link href="https://sdks.shopifycdn.com/polaris/2.0.0/polaris.min.css" rel="stylesheet">
</head>
<body>
  <div id="root"></div>
  <input type="hidden" id="easdk_apikey" value="{{apiKey}}" />
  <input type="hidden" id="easdk_shoporigin" value="https://{{shopOrigin}}" />
  {{{body}}}
</body>
</html>
